<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Persistencia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_alice"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_alice_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alice">
        <activity
            android:name=".SInfo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BkMenuTrasplante"
            android:exported="false" />
        <activity
            android:name=".MenuGreenHouse"
            android:exported="false" />
        <activity
            android:name=".MenuBlackberry"
            android:exported="false" />
        <activity
            android:name=".GhMenuEmpaque"
            android:exported="false" />
        <activity
            android:name=".GhMenuConsolidacion"
            android:exported="false" />
        <activity
            android:name=".GhMenuMortandad"
            android:exported="false" />
        <activity
            android:name=".BkMenuMortandad"
            android:exported="false" />
        <activity
            android:name=".BkMenuEmpaque"
            android:exported="false" />
        <activity
            android:name=".BkMenuConsolidacion"
            android:exported="false" />
        <activity
            android:name=".BkMenuBrotes"
            android:exported="false" />
        <activity
            android:name=".BkMenuAlmacigos"
            android:exported="false" />
        <activity
            android:name=".GhMenuTrasplante"
            android:exported="false" />
        <activity
            android:name=".GhMenuBrotes"
            android:exported="false" />
        <activity
            android:name=".GhMenuAlmacigos"
            android:exported="false" />
        <activity
            android:name=".SInformacion"
            android:exported="false" />
        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name=".SLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SMainActivity"
            android:exported="false" />
    </application>

</manifest>